.bloc_titre {
  display: flex;
  position: relative;
  margin-bottom: 2rem;
}
.titre {
  width: 300px;
}
.circle {
  width: 50px;
  height: 50px;
  background-color: brown;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  right: 0;
}
/* blog */
.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.item {
  width: 200px;
  margin-bottom: 1rem;
}
.titre_item {
  border-bottom: 2px solid red;
  padding-bottom: 1rem;
}

@media (min-width: 500px) {
  .circle {
    width: 140px;
    height: 140px;
  }
  .item {
    width: 350px;
  }
}
@media (min-width: 1000px) {
  .circle {
    right: 150px;
    top: 50px;
    width: 200px;
    height: 200px;
  }
  .titre {
    margin-left: 7rem;
    font-size: 4.5rem;
    width: 600px;
  }
  .blog {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
