.header {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
.active {
  border-bottom: 2px solid black;
}
.titre {
  width: auto;
  font-weight: bold;
  font-size: 20px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
}
.navbar a {
  margin: 0 0.5rem;
  font-weight: 500;
}
.navbar a:hover {
  color: red;
}
@media (min-width: 1000px) {
  .titre {
    font-size: 2rem;
  }
  .navbar a {
    font-size: 1.5rem;
  }
}
